/*首页样式*/
#container{
    /*background-color: #aaccdd;*/
    width: 100%;
    height: 100%;
    margin: 0 auto;	/*元素居中*/
}
#header{
    /*background-color: #fffddd;*/
    height: 20px;
}
#content{
    text-align:center;
    /*background-color: #ffccdd;*/
    text-align: center;
    align-content: center;
}
.c-logo{
    /*margin-top: 130px;	*/
    margin-top: 9%;
}
.c-search-box{
    position:absolute;
    z-index: 101;
    margin-top: 40px;
    text-align: center;
    width: 100%;
}
.c-form{
    /*为了使absolute元素居中*/
    margin: 0 auto;
    display:inline-block;
    clear: both;
}
#nope{
    width: 550px;
    height: 40px;
    font-size: 16px;
    outline: 0;
    color: #7A7A7A;
    border:1px solid #D1D1D1;
    padding-left: 14px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.c-sea-input{
    float: left;
    margin: 0px;
    padding: 0px;
}
.c-enter-input{
    float: left;
    margin: 0px 6px 6px 0px;
    padding: 0px;
}
.submit{
    width: 80px;
    height: 44px;
    text-decoration: none;
    outline:none;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #f66666;
    border: 2px solid #f66666;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 16px;
    opacity: 0.8;
    -webkit-transition-duration: 0.4s; /* Safari渐变颜色 */
    transition-duration: 0.4s;

}
.submit:hover{
    background-color: #f44336;
    border: 2px solid #f44336;
    color: white;
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 15px 48px 0 rgba(0,0,0,0.19);/*鼠标悬停阴影*/
}
.submit:active{
    background-color: #B22222;
    /*box-shadow: 0 5px #666;*/
    transform: translateY(1px);
}
#footer{
    /*background-color: #aaa;*/
    height: 50px;
    margin-top: 24%;
    text-align: center;
}
.stat{
    font-size: 12px;
    color: #9E9E9E;
}
a{
    text-decoration: none;
    color: #9E9E9E;
}
a:hover{
    color:#424242;
    /*font-weight: bold;*/
}