#server config
server:
  port: 80
  context-path: /
  tomcat:
    uri-encoding: UTF-8
#logger config
logging:
  config: classpath:logback.xml
#spring config
spring:
  datasource:
    #数据源配置的入口类
    type: com.alibaba.druid.pool.DruidDataSource
  jpa:
    database: MYSQL
    show-sql: true
    ## Hibernate ddl auto (validate|create|create-drop|update)
    hibernate:
      ddl-auto: none
      naming:
        strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
  #Thymeleaf config
  thymeleaf:
    cache: false
    encoding: UTF-8
    content-type: text/html
    mode: HTML5
    suffix: .html
    prefix: classpath:/templates/

