<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Fager搜索错误页面</title>
    <link th:href="@{/css/pub/error.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/js/pub/jquery.min.js}"></script>
    <script type="text/javascript">
        $(function() {
            var h = $(window).height();
            $('body').height(h);
            $('.mianBox').height(h);
            centerWindow(".tipInfo");
        });

        //2.将盒子方法放入这个方，方便法统一调用
        function centerWindow(a) {
            center(a);
            //自适应窗口
            $(window).bind('scroll resize',
                function() {
                    center(a);
                });
        }

        //1.居中方法，传入需要剧中的标签
        function center(a) {
            var wWidth = $(window).width();
            var wHeight = $(window).height();
            var boxWidth = $(a).width();
            var boxHeight = $(a).height();
            var scrollTop = $(window).scrollTop();
            var scrollLeft = $(window).scrollLeft();
            var top = scrollTop + (wHeight - boxHeight) / 2;
            var left = scrollLeft + (wWidth - boxWidth) / 2;
            $(a).css({
                "top": top,
                "left": left
            });
        }
    </script>
</head>
<body>
<div class="mianBox">
    <img th:src="@{/images/yun0.png}" alt="" class="yun yun0" />
    <img th:src="@{/images/yun1.png}" alt="" class="yun yun1" />
    <img th:src="@{/images/yun2.png}" alt="" class="yun yun2" />
    <img th:src="@{/images/bird.png}" alt="" class="bird" />
    <img th:src="@{/images/san.png}" alt="" class="san" />
    <div class="tipInfo">
        <div class="in">
            <div class="textThis">
                <h2 th:text="${emsg}"></h2>
                <p><span>回到Fager-><a id="href" th:href="@{/}">回首页</a></span><span>嘻嘻哈哈</span></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
